{% extends 'base.html' %} {% block content %}

<div class="contaienr mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/{{type}}">{{expense.transaction_type}}s</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Edit {{expense.transaction_type}}s
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a
        href="{% url 'delete-expense' expense.id %}"
        class="btn btn-danger btn-sm"
        >Delete</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'edit-expense' expense.id %}" method="post">
        {% include 'partials/_messages.html' %} {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input
            required
            type="number"
            class="form-control form-control-sm"
            name="amount"
            value="{{expense.amount}}"
          />
        </div>

        <div class="form-group">
          <label for="">Transaction Type</label>
          <select
            name="type"
            class="form-control"
            value="{{expense.transaction_type}}"
          >
            <option selected name="type">{{expense.transaction_type}}</option>
            <option name="type">Expense</option>
            <option name="type">Income</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{expense.description}}"
          />
        </div>

        <div class="form-group">
          <label for="">Category</label>
          <select
            name="category"
            class="form-control"
            value="{{expense.category}}"
          >
            <option selected name="category">{{expense.category}}</option>
            {% for category in categories %}
            <option name="category">{{category.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="">Date of Transaction</label>
          <input
            type="date"
            placeholder="YYYY-MM-DD"
            class="form-control col-2"
            name="expense-date"
            value="{{expense.date}}"
          />
        </div>

        <input type="submit" value="Save" class="btn btn-primary btn-sm" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
