{% extends 'base_auth.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="row col-md-4"></div>
  <div class="row col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Login to your account</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% include 'partials/_messages.html' %} {% csrf_token %}
          <div class="form-group">
            <input
              type="username"
              name="username"
              placeholder="username"
              class="form-control form-control-sm"
              id="usernameField"
              required
              value="{{fieldValues.username}}"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="password"
              class="form-control form-control-sm"
              id="passwordField"
              required
            />
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
          </div>

          <input
            type="submit"
            value="Login"
            class="btn btn-block btn-primary submit-btn"
          />
        </form>
      </div>

      <div class="container mb-3">
        <span class="my-4">Don't have an account? <a href="{% url 'register' %}">Register</a></span>
        <br>
        <span class="my-4">Forgot your password? <a href="{% url 'request-password' %}">Reset Password</a></span>
      </div>

    </div>
  </div>
</div>
<div class="row col-md-4"></div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
