{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="row col-md-4"></div>
  <div class="row col-md-4">
    <div class="card mt-5">
      <div class="card-body">
          <div class="card-title py-3">
            <h4>Enter your Email to Get Reset Link</h4>
            </div>
        <form action="{% url 'request-password' %}" method="post">
          {% include 'partials/_messages.html' %}
          {% csrf_token %}
        
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{values.email}}"
            />
          </div>
        
          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>
      </div>
    
    <div class="contianer mb-2">
      <span class='my-4'>Don't have an account? <a href="{% url 'register' %}">Register</a></span>
    </div>
    
    </div>
    </div>
  </div>
  <div class="row col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>


{% endblock content %}
